
<a href="#" id="return-to-top"><i class="fas fa-chevron-up"></i></a>

<footer class="footer">
  <div class="container">
    <div class="row">
      {%- if show_pip_install %}
      <div class="col-md-6">
        <div class="foot-fa fa-stack fa-2x">
          <a href=https://gitlab.com/{{repo}} target="_blank">
            <i class="fab fa-gitlab fa-1x"></i>
            <span class="foot-link-text">gitlab</span>
          </a>
          <a href=https://pypi.org/project/{{pipname}} target="_blank">
            <i class="fab fa-python"></i> 
            <span class="foot-link-text">pypi</span>
          </a>
          <!-- <a href=https://hub.docker.com/repository/docker/{{dockername}} target="_blank">
            <i class="fab fa-docker"></i>
          </a> -->
        </div>
      </div>
      {%- endif %}
      {%- if show_fork %}
      <div class="col-md-6">

        <div class="footer-copyright">
          
          <img src={{ pathto('_assets/nannos-name-white.svg', 1) }} alt="nannos">
          <p>v{{version}} | 
          {% trans copyright=copyright|e %}&copy;{{ copyright }}{% endtrans %}</p>
        </div>
      </div>
      {%- endif %}

    </div>
  </div>
</footer>
