{%- extends "layout.html" %}


{%- block content %}
<section class="color-header">
  <div class="container">
    <div class="align-items-center homepage-title">
      <div class="col-md-6 vcenter homepage-head">
          <img src="_assets/nannos.svg" alt="image-landing" class="logo-landing">
        <h1 class="homepage-title">{{project}}</h1>
        <h2 class="homepage-subtitle">{{description}}</h2>
      </div>
    </div>
  </div>
</section>

<section class="button-banner">
  <div class="container">
    <div class="row align-items-center button-banner-col">
      <div class="col-md-4">
        <p class="button">
          <a type="button" class="btn btn-round" href="tutorials/index.html">
            Get started
          </a>
        </p>
      </div>
      <div class="col-md-4">
        <p class="button">
          <a type="button" class="btn btn-round" href="examples/index.html">
            Browse examples
          </a>
        </p>
      </div>
      <div class="col-md-4 ">
        <p class="button">
          <a type="button" class="btn btn-round" href="reference.html">
            Read the doc
          </a>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="features-banner">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 vcenter image-landing">
        <img src="_assets/landing.png" alt="image-landing">
      </div>

      <div class="col-md-6 vcenter feat-col">
        <h1>Features</h1>
        <ul>
          <li>Multiple FMM formulations</li>
          <li>Automatic differentiation</li>
          <li>GPU acceleration</li>
        </ul>

      </div>
    </div>
  </div>
</section>
{%- endblock content %}